*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;

  --stick-top: 10px;
  --peek: 70px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  /* color: var(--white); */
  /* background-color: var(--black); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
  padding: 0;
  line-height: 0;
  outline: none;
}

input {
  font-family: inherit;
}

a {
  color: inherit;
  font-style: normal;
  text-decoration: none;
  outline: none;
}

dd,
dt {
  margin: 0;
}

/* .accent-color {
} */
